<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <br>
    <form action="/tabla" method="post">
    <label for="tabla">Tabla</label>
    <input type="number" id="numero" name="numero" required value="<%=numero%>">
    <button type="submit">Enviar</button>
    <button type="button" id="limpiar" onclick="limpiarCampo()">Limpiar</button>
    </form>

    <div id="tablamul">
        <section>
            <%
                    let res =0;
                        if(numero!=null){
                            for(con=1;con<=10;con++){
                                res = con* numero;
                                %>
                                <h3><%=numero%> * <%=con%> = <%=res%></h3>
                                <%
                            }
                        }
            
            %>
        </section>
    </div>
    <br>
    <%-include('partials/footer.ejs')%>
    <script>
        function limpiarCampo(){
            document.getElementById('numero').value = '';
            document.getElementById('tablamul').innerHTML=''
        }
        
    </script>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
            }
    
            header {
                background-color: #333;
                color: #fff;
                padding: 10px 0;
                text-align: center;
            }
    
            nav {
                background-color: #444;
                color: #fff;
                padding: 10px;
                text-align: center;
            }
    
            form {
                text-align: center;
                margin-top: 20px;
            }
    
            label {
                font-weight: bold;
                margin-right: 5px;
            }
    
            input[type="number"] {
                width: 100px;
                padding: 5px;
                margin-right: 10px;
            }
    
            button {
            padding: 8px 20px;
            margin-top: 10px;
            background-color: #007bff; /* azul claro */
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }   
    
            button:hover {
            background-color: #0056b3; /* azul más oscuro al pasar el ratón */
            }

            #limpiar {
                background-color: #333; /* negro */
            }

            #limpiar:hover {
                background-color: #444; /* gris oscuro al pasar el ratón */
            }
    
            #tablamul {
                margin-top: 20px;
                text-align: center;
            }
    
            section {
                justify-content: center;
            }
    
            h3 {
                margin: 5px;
                display: block;
            }
        </style>
</body>
</html>